<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#404 Not Found</title>
</head>
<body>
<h1 style="display: block;margin-left: auto;margin-right: auto;width: 50%;">The page you requested is not found, Please go to <a href="{% url "main" %}"> main page</a></h1>
<br>
<br>
<img src="https://cdn.dribbble.com/users/1022481/screenshots/3018253/404-snow.gif" alt="404 Not Found X"  width="300" style="display: block;margin-left: auto;margin-right: auto;width: 40%;"/>
</body>
</html>